# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
!./IS3106WeddingPlanner/src/*.jar

# User defined
nbproject/private/
build/
dist/

/IS3106WeddingPlanner/nbproject/private/
/IS3106WeddingPlanner/IS3106WeddingPlanner-war/nbproject/private/
/IS3106WeddingPlanner/IS3106WeddingPlanner-ejb/nbproject/private/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/CaRMSClassLibrary/nbproject/private/
/HolidayReservationSystem/nbproject/private/
/IS3106WeddingPlanner-ejb/nbproject/private/
/IS3106WeddingPlanner-war/nbproject/private/
